<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam2016Pract.My.MySettings.NUserDBConnString" connectionString="Data Source=Itachi-PC\SQLEXPRESS;Initial Catalog=NUserDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exam2016Pract.My.MySettings.OrderDBConnString" connectionString="Data Source=Itachi-PC\SQLEXPRESS;Initial Catalog=OrderDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>